@import "tailwindcss";

@font-face {
    font-family: Bubes;
    src: url("./fonts/BebasNeue-Regular.ttf");
}
@font-face {
    font-family: Title;
    src: url("./fonts/FunnelSans-VariableFont_wght.ttf");
}




@theme{
    --font-bubes: Bubes, "sans-serif"
}
@theme{
    --font-title: Title, "sans-serif"
}

@theme{
    --animate-sponsor: sponsor 40s linear infinite;

    @keyframes sponsor {
    to {
            transform: translateX(-50%);
        }
    }
}