
@font-face {
    font-family: Bubes;
    src: url("./fonts/BebasNeue-Regular.ttf");
}
@font-face {
    font-family: Title;
    src: url("./fonts/FunnelSans-VariableFont_wght.ttf");
}
@import "tailwindcss";



@theme{
    --font-bubes: Bubes, "sans-serif"
}
@theme{
    --font-title: Title, "sans-serif"
}